################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/CppTraining/CppTraining/x64/Debug
/CppTraining/x64/Debug
/CppTraining/.vs/CppTraining/FileContentIndex
/CppTraining/.vs/CppTraining/v17/ipch/AutoPCH/7d668adb50c55ef4
/CppTraining/.vs/CppTraining/v17
